@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
body {
    font-size: 15pt;
}
#time{
  font-size: 400%;
  font-weight:300%;
  position:absolute;
  top: 50%;
  bottom:50%;
  left: 25%;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
